
blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}
.constrain-lg {
  max-width: 38rem;
}
.constrain {
  max-width: 33rem;
  margin-left: auto;
  margin-right: auto;
}
.text-center{
  text-align: center;
}
.text-uppercase{
  text-transform: uppercase;
}
.border{
  &-t{
    border-top: 1px solid #ebebeb;
  }
  &-b{
    border-bottom: 1px solid #ebebeb;
  }
  &-l{
    border-left: 1px solid #ebebeb;
  }
  &-r{
    border-right: 1px solid #ebebeb;
  }
}
.m{
  &-t{
    margin-top:2rem;
  }
  &-b{
    margin-bottom:2rem;
  }
  &-l{
    margin-left:2rem;
  }
  &-r{
    margin-right:2rem;
  }
}
.p{
  &-t{
    padding-top: 0.5rem;
  }
  &-b{
    padding-bottom:0.5rem;
  }
}
.inline-block{
  display:inline-block;
}
.link-muted {
  color: rgba(51, 51, 51, 0.6);
}
ul > li {
  list-style-type:none;
}
.wt-bold {
  font-weight: 700 !important;
}

.text-lg {
  font-size: 1.35rem !important;
}